.sign {
    font-weight: 600;
    width: 100%;
    height: 100%;
}

.backdrop {
    fill: #000;
}

.circle {
    stroke: none;
    fill: #fff;
}

.text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-size: 768px;
    font-weight: 600;
    fill: black;
}

.text3Digit {
    transform: scaleX(0.7);
}