.exampleSign {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
}

.display {
    grid-area: display;
    min-height: 384px;
    background-color: #009140;
}

.displayInner {
    border: 5px solid #fff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signContainer {
    height: 256px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #007dc2;
    color: #fff;
    font-size: 18px;
}

.sidebarInner {
    border: 5px solid #fff;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.sidebarElement {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 30px;
}

.sidebarElement > span {
    margin-bottom: 10px;
}

.signText {
    font-weight: 600;
    font-size: 1.4rem;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .exampleSign {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr fit-content(200px);
        grid-template-areas: "display" "sidebar";
    }

    .displayInner {
        border-radius: 10px 10px 0 0;
        border-right-width: 5px;
        border-bottom-width: 3px;
    }

    .sidebarInner {
        border-radius: 0 0 10px 10px;
        border-top-width: 2px;
    }
}

@media only screen and (min-width: 601px) {
    .exampleSign {
        grid-template-columns: 1fr 400px;
        grid-template-rows: 1fr;
        grid-template-areas: "display sidebar";
    }

    .displayInner {
        border-radius: 10px 0 0 10px;
        border-right-width: 3px;
    }

    .sidebarInner {
        border-radius: 0 10px 10px 0;
        border-left-width: 2px;
    }
}

